<a href="https://colab.research.google.com/github/darlaabril/Taller-Python/blob/main/Alteir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar pandas y altair

In [ ]:
import pandas as pd
import altair as alt

Obtener datos

In [ ]:
url ='https://docs.google.com/spreadsheets/d/e/2PACX-1vT06xF46sDjyjTfthKEhvz2PRjbNRIv_Nw2LB3qL01Bexqmeo09ErPN5eOkndWfUQ/pub?output=csv'
dataset = pd.read_csv(url)
dataset

,Departamento,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Amazonas,542,642,719,806,784,859,826,857,939,995,967,1 033,1 014,993
1,Áncash,624,734,771,870,941,974,1 009,1 049,1 014,1 095,1 090,1 117,1 231,1 057
2,Apurímac,432,490,519,634,598,620,778,842,926,889,901,937,1 124,1 004
3,Arequipa,817,986,1 051,1 120,1 258,1 300,1 377,1 429,1 457,1 512,1 545,1 645,1 703,1 530
4,Ayacucho,476,518,577,645,748,750,752,773,905,880,902,960,971,1 095
5,Cajamarca,473,550,650,724,793,812,835,761,828,806,843,818,954,850
6,Prov. Const.Callao,972,1 097,1 238,1 219,1 189,1 330,1 353,1 494,1 529,1 561,1 598,1 526,1 580,1 356
7,Cusco,585,651,757,776,888,974,1 045,1 081,1 026,1 145,1 065,1 189,1 234,963
8,Huancavelica,380,426,494,560,614,642,685,622,720,734,709,703,742,669
9,Huánuco,461,532,573,623,720,848,898,878,924,901,933,974,1 007,892
10,Ica,705,802,895,924,997,1 023,1 082,1 187,1 278,1 297,1 364,1 415,1 508,1 478
11,Junín,680,794,797,796,913,975,1 004,1 045,1 139,1 199,1 136,1 130,1 206,1 083
12,La Libertad,819,763,926,890,895,1 001,1 040,1 092,1 129,1 204,1 256,1 268,1 307,1 167
13,Lambayeque,590,637,671,708,750,844,835,906,1 000,1 117,1 113,1 190,1 204,1 160
14,Lima,1 137,1 236,1 297,1 286,1 392,1 517,1 543,1 640,1 753,1 870,1 852,1 857,1 886,1 653
15,Lima Metropolitana 1/,1 177,1 277,1 345,1 316,1 435,1 562,1 597,1 697,1 810,1 940,1 921,1 913,1 948,1 711
16,Lima 2/,765,839,837,981,966,1 084,1 017,1 073,1 185,1 182,1 175,1 299,1 262,1 118
17,Loreto,665,727,772,864,888,978,945,1 038,1 108,1 062,1 167,1 166,1 231,1 180
18,Madre de Dios,1 091,1 252,1 412,1 495,1 833,1 867,1 936,1 861,1 655,1 633,1 669,1 639,1 665,1 400
19,Moquegua,1 124,1 328,1 353,1 541,1 564,1 780,1 826,1 824,1 791,1 818,1 690,1 769,1 801,1 694
20,Pasco,638,748,806,893,897,835,859,866,892,1 001,1 051,1 056,1 172,835
21,Piura,550,620,760,743,857,887,890,902,935,952,1 047,1 104,1 146,993
22,Puno,413,466,508,588,632,721,806,880,799,857,819,840,876,810
23,San Martín,667,774,811,882,993,1 033,1 001,1 038,1 099,1 079,1 129,1 176,1 159,983
24,Tacna,910,1 035,1 055,1 125,1 135,1 244,1 270,1 295,1 323,1 337,1 354,1 359,1 392,1 260
25,Tumbes,874,783,856,911,1 035,1 118,1 105,1 145,1 165,1 255,1 261,1 338,1 264,1 143
26,Ucayali,759,772,852,825,963,1 015,1 018,1 008,1 166,1 183,1 167,1 212,1 174,1 203
27,Ucayali,759,772,852,825,963,1 015,1 018,1 008,1 166,1 183,1 167,1 212,1 174,1 203

In [ ]:
dataset.shape

(28, 15)

In [ ]:
dataset.columns

Index(['Departamento', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [ ]:
dataset = dataset.rename(columns = {'2007':'A2007'
                                    ,'2020':'A2020'
                              })
dataset

,Departamento,A2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,A2020
0,Amazonas,542,642,719,806,784,859,826,857,939,995,967,1 033,1 014,993
1,Áncash,624,734,771,870,941,974,1 009,1 049,1 014,1 095,1 090,1 117,1 231,1 057
2,Apurímac,432,490,519,634,598,620,778,842,926,889,901,937,1 124,1 004
3,Arequipa,817,986,1 051,1 120,1 258,1 300,1 377,1 429,1 457,1 512,1 545,1 645,1 703,1 530
4,Ayacucho,476,518,577,645,748,750,752,773,905,880,902,960,971,1 095
5,Cajamarca,473,550,650,724,793,812,835,761,828,806,843,818,954,850
6,Prov. Const.Callao,972,1 097,1 238,1 219,1 189,1 330,1 353,1 494,1 529,1 561,1 598,1 526,1 580,1 356
7,Cusco,585,651,757,776,888,974,1 045,1 081,1 026,1 145,1 065,1 189,1 234,963
8,Huancavelica,380,426,494,560,614,642,685,622,720,734,709,703,742,669
9,Huánuco,461,532,573,623,720,848,898,878,924,901,933,974,1 007,892
10,Ica,705,802,895,924,997,1 023,1 082,1 187,1 278,1 297,1 364,1 415,1 508,1 478
11,Junín,680,794,797,796,913,975,1 004,1 045,1 139,1 199,1 136,1 130,1 206,1 083
12,La Libertad,819,763,926,890,895,1 001,1 040,1 092,1 129,1 204,1 256,1 268,1 307,1 167
13,Lambayeque,590,637,671,708,750,844,835,906,1 000,1 117,1 113,1 190,1 204,1 160
14,Lima,1 137,1 236,1 297,1 286,1 392,1 517,1 543,1 640,1 753,1 870,1 852,1 857,1 886,1 653
15,Lima Metropolitana 1/,1 177,1 277,1 345,1 316,1 435,1 562,1 597,1 697,1 810,1 940,1 921,1 913,1 948,1 711
16,Lima 2/,765,839,837,981,966,1 084,1 017,1 073,1 185,1 182,1 175,1 299,1 262,1 118
17,Loreto,665,727,772,864,888,978,945,1 038,1 108,1 062,1 167,1 166,1 231,1 180
18,Madre de Dios,1 091,1 252,1 412,1 495,1 833,1 867,1 936,1 861,1 655,1 633,1 669,1 639,1 665,1 400
19,Moquegua,1 124,1 328,1 353,1 541,1 564,1 780,1 826,1 824,1 791,1 818,1 690,1 769,1 801,1 694
20,Pasco,638,748,806,893,897,835,859,866,892,1 001,1 051,1 056,1 172,835
21,Piura,550,620,760,743,857,887,890,902,935,952,1 047,1 104,1 146,993
22,Puno,413,466,508,588,632,721,806,880,799,857,819,840,876,810
23,San Martín,667,774,811,882,993,1 033,1 001,1 038,1 099,1 079,1 129,1 176,1 159,983
24,Tacna,910,1 035,1 055,1 125,1 135,1 244,1 270,1 295,1 323,1 337,1 354,1 359,1 392,1 260
25,Tumbes,874,783,856,911,1 035,1 118,1 105,1 145,1 165,1 255,1 261,1 338,1 264,1 143
26,Ucayali,759,772,852,825,963,1 015,1 018,1 008,1 166,1 183,1 167,1 212,1 174,1 203
27,Ucayali,759,772,852,825,963,1 015,1 018,1 008,1 166,1 183,1 167,1 212,1 174,1 203

In [ ]:
alt.Chart(dataset).mark_rect().encode(
    y = "Departamento")
dataset[dataset['Departamento'] == 'Pasco']

,Departamento,A2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,A2020
20,Pasco,638,748,806,893,897,835,859,866,892,1 001,1 051,1 056,1 172,835

In [ ]:
alt.Chart(dataset).mark_bar().encode(
    x ="Departamento:N" ,
    y = "A2007:Q"
    )

alt.Chart(...)

Titulo y color del grafico

In [ ]:
alt.Chart(dataset, height = 500, width = 800).mark_bar(color="firebrick").encode(
   alt.Y("A2007:Q", title='Salario Promedio 2007'),
    alt.X("Departamento:N", title='Departamentos')
)

alt.Chart(...)